.testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.testimonial-card {
    width: min-content;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

.review {
    width: 10rem;
    max-width: max-content;
}