.App {
  margin:5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.olive-background {
  background-color: #495E57;
}

.olive {
  color: #495E57;
}

.gold {
  color: #F4CE14;
}

.gold-background {
  background-color: #F4CE14;
}

.white {
  color: white;
}

.split {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.half {
  width: 50%;
}

input {
  border-radius: 16%;
  width: max-content;
}

button {
  border-radius: 16%;
  margin-top: 5%;
  margin-bottom: 5%;
}

input:required {
  border-color: black;
}

input:optional {
  border-color: gray;
}

input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}

input:required:valid {
  border-color: green;
}

input:required:focus:valid {
  background:  lightgreen;
  background-size: 25px;
}

select {
  border-radius: 16%;
  width: max-content;
}

/*gold color #F4CE14

title 64 Markazi
*/

/* h1 {
  font-size: larger;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
